.portfolio-footer {
	img {
		max-width: 150px;
	}
	hr {
	    border: 0;
	    height: 1px;
	    background-color: transparent;
	    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
	}
	p {
		color: #fff;
		margin-bottom: 0px;
		font-size: 14px;
	}
}